@model Coffee_Culture.Models.CoffeeBean

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CoffeeBean</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Types_Of_Coffee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Types_Of_Coffee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacture_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacture_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Production_Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Production_Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Roasting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Roasting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description_Of_Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description_Of_Product)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Packaging)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Packaging)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
