@model IEnumerable<Coffee_Culture.Models.CoffeeBean>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="CoffeeBeans" asp-action="Index" method="get">
    <p>
        Types_of_Coffee: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Types_Of_Coffee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacture_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Production_Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roasting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description_Of_Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Packaging)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Types_Of_Coffee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacture_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Production_Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roasting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description_Of_Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Packaging)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
