
@model Coffee_Culture.Models.CoffeeRoastingViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="CoffeeBeans" asp-action="Index" method="get">
    <p>

        <select asp-for="CoffeeRoasting" asp-items="Model.Roastings">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeBeans[0].Types_Of_Coffee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeBeans[0].Manufacture_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeBeans[0].Production_Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeBeans[0].Roasting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeBeans[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeBeans[0].Description_Of_Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeBeans[0].Packaging)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Types_Of_Coffee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacture_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Production_Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roasting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description_Of_Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Packaging)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
